.headshot {
  max-width: 50%;
  align-items: center;
}

.page-image {
  min-height: 100vh;
  background: url("../images/background.JPG");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 70px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
}

h2 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (max-width: 480px) {
  h1 {
    font-size: 12vw;
  }
}
